*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,
figure 
	{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
	}

#tm-main-nav 
	{
	display:block;
	}

body{
	/* Setting the default text color, size, page background and a font stack: */
	text-align: justify;
	font-size:0.925em;
	color:#e4dcdc;
	background-color:#be8c3fab;
	font-family:Times New Roman, Times, serif;
	
}

/* Hyperlink Styles: */

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:Times New Roman, Times, serif;
	text-shadow:0 1px 1px black;
	
}

h1{
	/* The logo text */
	font-size:2.2em;
	padding:0.5em 0 0;
	text-transform:uppercase;
	color: rgb(141, 69, 10);
	text-shadow:0 1.5px 1.5px rgb(9, 115, 177);
}

h3{
	/* The slogan text */
	font-family: "Lucida Console", Courier, monospace;
	font-size:2em;
	font-weight:normal;
	
	margin:0 0 1em;
	color: rgb(141, 69, 10);
	text-shadow:0 1.5px 1.5px rgb(6, 52, 204);
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
.go_up {
	float: right; 
	padding-right: 15px;  
	
}
p{
	line-height:1.5em;
	padding-bottom:1em;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#e99b0c93;
	border-bottom-color:#db9719;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	background:url(../images/gradient_light.jpg) repeat-x 50% 50% #566408;
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;
	
	border:1px solid #803103;

	-moz-box-shadow:0 1px 1px #803103;
	-webkit-box-shadow:0 1px 1px #803103;
	box-shadow:0 1px 1px #803103;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#1a1002;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px rgb(79, 248, 36);
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
}

nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#152130b9;
	margin:3em 0;
	padding:20px;
	
	text-shadow:0 2px 0 black;
}

figure{
	border:3px solid #db9719;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}
figure1{
	border:3px solid #e99b0c93;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:830px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

/* Footer styling: */

footer{
	
	text-align:center;
	font-size:1.2em;
	color:#2b0404;
}

.eink {
	text-align: center;
	font-size:1.2em;
	color:#2b0404;
}

.e-link {
	font-size:1.2em;
	text-align: center;
	
}

.copy {
	margin-bottom:1.5em;
}


footer a,footer a:visited
	{
	color:#1b6de7;
	display:block;

	}

footer a:hover
	
	{
	
	background-color:#15a310;
	}

